


body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the whole page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(to bottom right, #333333 , #f9f9f9
    );
}

/* Header styles */
#main-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 25px;
    border-bottom: double 3px #333;
}

/* Section styles */
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
